@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

main {
  min-height: 100vh;
  margin-bottom: -400px;
}

a, li {
  text-decoration: none;
  list-style: none;
  background-color: transparent;
  color: rgb(255, 255, 255);
}

.boton {
  background-color: red;
  padding: 9px 25px;
  border-radius: 50px;
  color: white;
  border: none;
  transition: all 0.3s ease 0s;
  font-family: "Montserrat", sans-serif;
}
.boton:hover {
  background-color: rgb(255, 82, 82);
}

.sticky_navbar {
  background-color: rgb(255, 251, 255);
  padding: 15px 2%;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.3);
}
.sticky_navbar li {
  color: black;
}
.sticky_navbar li a {
  color: black;
}
.sticky_navbar li a:hover {
  color: rgb(153, 87, 87);
}

header {
  content: "";
}
header nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 2%;
  font-weight: bold;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  transition: 0.6s;
  z-index: 10000;
}
header nav .logo_empresa {
  cursor: pointer;
  margin-right: auto;
  background-color: transparent;
}
header nav .nav_links {
  background-color: transparent;
  margin-right: 20px;
}
header nav .nav_links li {
  display: inline-block;
  padding: 0 20px;
}
header nav .nav_links li a {
  transition: all 0.3s ease 0s;
}
header nav .nav_links li a:hover {
  color: rgb(153, 87, 87);
}

.header_principal {
  background: url(../img/Glass.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 95vh;
  padding: 13% 0;
  display: flex;
  justify-content: start;
  font-family: "Raleway", sans-serif;
}
.header_principal .text_container {
  background-color: transparent;
  width: 25%;
  height: 30vh;
  margin-left: 20%;
}
.header_principal .text_container .producto_principal {
  font-size: 70px;
  font-weight: 400;
  background-color: transparent;
  color: white;
  margin-bottom: 20px;
}
.header_principal .text_container .literal_linea {
  width: 100%;
  height: 2px;
  background-color: red;
  margin-bottom: 20px;
}
.header_principal .text_container .descripción_tienda {
  font-size: 40px;
  font-weight: lighter;
  background-color: transparent;
  color: white;
}

.categoria {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: start;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding: 3% 2%;
  gap: 50px;
}
.categoria .contenedor_tarjetas, .categoria #contenedor_tarjetas_destacado {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: center;
  background-color: transparent;
  text-align: center;
  gap: 20px;
  font-family: "Raleway", sans-serif;
}
.categoria .contenedor_tarjetas .tarjeta, .categoria #contenedor_tarjetas_destacado .tarjeta {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: transparent;
  justify-content: space-between;
  padding: 0;
  width: 300px;
  height: 480px;
  border-radius: 15px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.categoria .contenedor_tarjetas .tarjeta .imagen_producto, .categoria #contenedor_tarjetas_destacado .tarjeta .imagen_producto {
  width: 100%;
  height: auto;
}
.categoria .contenedor_tarjetas .tarjeta .favoritos, .categoria #contenedor_tarjetas_destacado .tarjeta .favoritos {
  position: absolute;
  width: auto;
  border: none;
  border-radius: 50%;
  margin: 0.5rem;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
}
.categoria .contenedor_tarjetas .tarjeta .favoritos i, .categoria #contenedor_tarjetas_destacado .tarjeta .favoritos i {
  color: grey;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}
.categoria .contenedor_tarjetas .tarjeta h2, .categoria .contenedor_tarjetas .tarjeta p, .categoria .contenedor_tarjetas .tarjeta h3, .categoria #contenedor_tarjetas_destacado .tarjeta h2, .categoria #contenedor_tarjetas_destacado .tarjeta p, .categoria #contenedor_tarjetas_destacado .tarjeta h3 {
  background-color: transparent;
}
.categoria .contenedor_tarjetas .tarjeta .producto, .categoria #contenedor_tarjetas_destacado .tarjeta .producto {
  display: flex;
  padding: 0 10px;
  flex-direction: column;
  gap: 10px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1px;
}
.categoria .contenedor_tarjetas .tarjeta .valoracion, .categoria #contenedor_tarjetas_destacado .tarjeta .valoracion {
  display: inline-flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
.categoria .contenedor_tarjetas .tarjeta .valoracion .precio, .categoria #contenedor_tarjetas_destacado .tarjeta .valoracion .precio {
  font-family: "Montserrat", sans-serif;
  font-weight: 350;
}
.categoria .contenedor_tarjetas .tarjeta .valoracion i, .categoria #contenedor_tarjetas_destacado .tarjeta .valoracion i {
  color: gold;
}
.categoria .contenedor_tarjetas .tarjeta button:not(.favoritos), .categoria #contenedor_tarjetas_destacado .tarjeta button:not(.favoritos) {
  position: relative;
  width: 100%;
  height: 10%;
  bottom: 0;
  background-color: red;
  font-family: "Raleway", sans-serif;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 500px;
  cursor: pointer;
  z-index: 10;
}
.categoria .contenedor_tarjetas .tarjeta button:not(.favoritos):hover ~ .opciones_carrito, .categoria #contenedor_tarjetas_destacado .tarjeta button:not(.favoritos):hover ~ .opciones_carrito {
  transform: translateY(-48px);
}
.categoria .contenedor_tarjetas .tarjeta .opciones_carrito, .categoria #contenedor_tarjetas_destacado .tarjeta .opciones_carrito {
  position: absolute;
  width: 100%;
  bottom: 39%;
  display: flex;
  background-color: transparent;
}
.categoria .contenedor_tarjetas .tarjeta .opciones_carrito .contenedor, .categoria #contenedor_tarjetas_destacado .tarjeta .opciones_carrito .contenedor {
  display: flex;
  width: 100%;
  background-color: transparent;
  justify-content: flex-end;
}
.categoria .contenedor_tarjetas .tarjeta .opciones_carrito .contenedor .cantidad, .categoria #contenedor_tarjetas_destacado .tarjeta .opciones_carrito .contenedor .cantidad {
  width: 40%;
  justify-content: space-between;
  display: inline-flex;
  margin-right: 6px;
  border-radius: 10px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}
.categoria .contenedor_tarjetas .tarjeta .opciones_carrito .contenedor .cantidad .mas, .categoria .contenedor_tarjetas .tarjeta .opciones_carrito .contenedor .cantidad .menos, .categoria .contenedor_tarjetas .tarjeta .opciones_carrito .contenedor .cantidad .numero, .categoria #contenedor_tarjetas_destacado .tarjeta .opciones_carrito .contenedor .cantidad .mas, .categoria #contenedor_tarjetas_destacado .tarjeta .opciones_carrito .contenedor .cantidad .menos, .categoria #contenedor_tarjetas_destacado .tarjeta .opciones_carrito .contenedor .cantidad .numero {
  color: black;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.categoria .contenedor_tarjetas .tarjeta .opciones_carrito .contenedor .cantidad .mas, .categoria .contenedor_tarjetas .tarjeta .opciones_carrito .contenedor .cantidad .menos, .categoria #contenedor_tarjetas_destacado .tarjeta .opciones_carrito .contenedor .cantidad .mas, .categoria #contenedor_tarjetas_destacado .tarjeta .opciones_carrito .contenedor .cantidad .menos {
  background-color: rgba(194, 194, 194, 0.384);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.slogan_1 {
  background: url(../img/Vaina.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20rem;
  width: 100%;
  height: 500px;
}
.slogan_1 .frase_1 {
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
  font-size: 40px;
  color: white;
  z-index: 1000;
  filter: drop-shadow(0 0 15px rgb(0, 0, 0));
}
.slogan_1 .frase_1 i {
  background-color: transparent;
  color: white;
}
.slogan_1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top right, red, blue);
  opacity: 0.3;
}

.detalles_empresa {
  display: grid;
  position: relative;
  width: 100%;
  grid-template-areas: "tituloCategoria beneficio";
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.detalles_empresa h3, .detalles_empresa h2, .detalles_empresa p {
  background: transparent;
  color: white;
  filter: drop-shadow(0 0 15px black);
}
.detalles_empresa h3, .detalles_empresa h2 {
  font-size: 30px;
  font-weight: 400;
}
.detalles_empresa p {
  font-weight: lighter;
  font-size: 25px;
}
.detalles_empresa .titulo_categoria {
  background: url("https://cdn.shopify.com/s/files/1/0229/0839/files/Untitled_design_2fbf6ff5-8a54-45aa-b5b4-992118d4e2f4.jpg?v=1617647345&width=1024");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 5rem;
  grid-area: tituloCategoria;
}
.detalles_empresa .beneficios {
  background: red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  grid-area: beneficio;
}
.detalles_empresa .beneficios .cajita_de_beneficios_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url("https://cdn.shopify.com/s/files/1/0229/0839/files/MejoresProductosVenderOnline.png?format=webp&v=1673300858");
  background-size: cover;
  background-position: center;
  gap: 20px;
  padding: 3rem;
}
.detalles_empresa .beneficios .cajita_de_beneficios_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url("https://cdn.shopify.com/s/files/1/0229/0839/files/productos-para-vender.jpg?v=1641553675");
  background-size: cover;
  background-position: center;
  gap: 20px;
  padding: 3rem;
}
.detalles_empresa .beneficios .cajita_de_beneficios_3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url("https://www.neolo.com/blog/wp-content/uploads/2020/08/Que-es-la-fotograf%C3%ADa-de-productos-1024x586.jpg");
  background-size: cover;
  background-position: center;
  gap: 20px;
  padding: 3rem;
}

.cosas_interesantes {
  background-color: rgba(179, 179, 179, 0.4);
  width: 100%;
  height: auto;
}
.cosas_interesantes h2 {
  background-color: transparent;
}

.main_cuenta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("https://3.bp.blogspot.com/-hNWh6ShDJGs/XFUltMH2fsI/AAAAAAAABz0/_UwOXZDl3ZEtejlpgFQoUBJ_rjt3O9ipgCKgBGAs/w1920-h1080-c/mountains-fog-landscape-scenery-16-4K.jpg");
  min-height: 100%;
  padding: 10%;
  font-family: "Raleway", sans-serif;
}
.main_cuenta::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.main_cuenta form {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}
.main_cuenta form input {
  background: rgba(202, 202, 202, 0.5);
  padding: 12px 15px;
  margin: 8px 15px;
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
}
.main_cuenta form h1 {
  font-weight: bold;
  margin: 0;
}
.main_cuenta form p {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 15px 0 20px;
}
.main_cuenta form a {
  color: #550047;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}
.main_cuenta form button {
  color: white;
  background-color: rgb(255, 0, 157);
  font-size: 12px;
  font-weight: bold;
  padding: 12px 55px;
  margin: 20px;
  border-radius: 20px;
  border: 1px solid rgb(126, 2, 105);
  outline: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}
.main_cuenta form button:active {
  transform: scale(0.9);
}
.main_cuenta .contenedor_login {
  position: relative;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.main_cuenta .contenedor_login .contenedor_redes {
  margin: 20px 0;
}
.main_cuenta .contenedor_login .contenedor_redes a {
  height: 40px;
  width: 40px;
  margin: 0 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 50%;
}
.main_cuenta .contenedor_login .sign_up, .main_cuenta .contenedor_login .sign_in {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.main_cuenta .contenedor_login .sign_up {
  width: 50%;
  opacity: 0;
  z-index: 1;
}
.main_cuenta .contenedor_login .sign_in {
  width: 50%;
  z-index: 2;
}
.main_cuenta .contenedor_login .overlay_container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}
.main_cuenta .contenedor_login .overlay_container .overlay {
  position: relative;
  color: white;
  background-color: chocolate;
  left: -100%;
  height: 100%;
  width: 200%;
  background: linear-gradient(to right, red, blue);
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}
.main_cuenta .contenedor_login .overlay_container .overlay #sign_in_2, .main_cuenta .contenedor_login .overlay_container .overlay #sign_up_2 {
  background-color: transparent;
  border: 2px solid white;
}
.main_cuenta .contenedor_login .overlay_container .overlay .overlay_left, .main_cuenta .contenedor_login .overlay_container .overlay .overlay_right {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
  background: transparent;
}
.main_cuenta .contenedor_login .overlay_container .overlay .overlay_left h1, .main_cuenta .contenedor_login .overlay_container .overlay .overlay_left p, .main_cuenta .contenedor_login .overlay_container .overlay .overlay_right h1, .main_cuenta .contenedor_login .overlay_container .overlay .overlay_right p {
  background: transparent;
  color: white;
}
.main_cuenta .contenedor_login .overlay_container .overlay .overlay_left h1, .main_cuenta .contenedor_login .overlay_container .overlay .overlay_right h1 {
  font-weight: bold;
  margin: 0;
}
.main_cuenta .contenedor_login .overlay_container .overlay .overlay_left p, .main_cuenta .contenedor_login .overlay_container .overlay .overlay_right p {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 15px 0 20px;
}
.main_cuenta .contenedor_login .overlay_container .overlay .overlay_left a, .main_cuenta .contenedor_login .overlay_container .overlay .overlay_right a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}
.main_cuenta .contenedor_login .overlay_container .overlay .overlay_left button, .main_cuenta .contenedor_login .overlay_container .overlay .overlay_right button {
  color: white;
  background-color: red;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 55px;
  margin: 20px;
  border-radius: 20px;
  border: 1px solid orange;
  outline: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}
.main_cuenta .contenedor_login .overlay_container .overlay .overlay_left button:active, .main_cuenta .contenedor_login .overlay_container .overlay .overlay_right button:active {
  transform: scale(0.9);
}
.main_cuenta .contenedor_login .overlay_container .overlay .overlay_left {
  transform: translateX(0);
}
.main_cuenta .contenedor_login .overlay_container .overlay .overlay_right {
  right: 0;
  transform: translateX(0%);
}
.main_cuenta .contenedor_login.right-panel-active .overlay_container {
  transform: translateX(-100%);
}
.main_cuenta .contenedor_login.right-panel-active .overlay_right {
  transform: translateX(20%);
}
.main_cuenta .contenedor_login.right-panel-active .overlay_left {
  transform: translateX(0);
}
.main_cuenta .contenedor_login.right-panel-active .sign_up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}
.main_cuenta .contenedor_login.right-panel-active .sign_in {
  transform: translateX(100%);
}
.main_cuenta .contenedor_login.right-panel-active .overlay {
  transform: translateX(50%);
}

.pagina_productos {
  position: relative;
  padding: 6%;
  display: flex;
  flex-direction: row;
  background-color: lightblue;
}
.pagina_productos .contenedor_de_filtros {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: auto;
}
.pagina_productos .contenedor_de_filtros #buscador {
  padding: 10px;
  margin: 1rem;
  border-color: rgb(215, 215, 215);
  border-radius: 7px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
.pagina_productos .contenedor_de_filtros .area_de_filtro {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
  font-family: "Raleway", sans-serif;
}
.pagina_productos .contenedor_de_filtros .area_de_filtro .titulo_filtro {
  width: 100%;
  padding: 1rem;
  color: grey;
  border: 1px solid grey;
}
.pagina_productos .contenedor_de_filtros .area_de_filtro ul {
  width: 100%;
  padding: 0.7rem 0;
}
.pagina_productos .contenedor_de_filtros .area_de_filtro ul button {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: medium;
  width: 100%;
  padding: 0.6rem 2rem;
  border: none;
  color: black;
  cursor: pointer;
  text-align: start;
}
.pagina_productos .contenedor_de_filtros #borrar_filtros {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: medium;
  width: 100%;
  padding: 0.6rem 2rem;
  border: 1px solid rgb(198, 198, 198);
  color: black;
  cursor: pointer;
  background-color: rgb(232, 232, 232);
  text-align: center;
}
.pagina_productos .productos_general {
  width: 80%;
  padding: 0;
}

.tarjetas_equipo {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgb(55, 48, 150);
  font-family: "Montserrat", sans-serif;
}
.tarjetas_equipo h1 {
  background-color: transparent;
  color: white;
  margin: 50px;
  font-size: 48px;
}
.tarjetas_equipo .presentation_card_container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: transparent;
  gap: 20px;
}
.tarjetas_equipo .presentation_card_container .box {
  position: relative;
  width: 375px;
  height: 375px;
  overflow: hidden;
  transition: 0.5s;
}
.tarjetas_equipo .presentation_card_container .box:hover {
  z-index: 1;
  transform: scale(1.25);
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}
.tarjetas_equipo .presentation_card_container .box:hover .img_box::before {
  opacity: 1;
}
.tarjetas_equipo .presentation_card_container .box:hover .content {
  content: "";
}
.tarjetas_equipo .presentation_card_container .box:hover .content div {
  content: "";
}
.tarjetas_equipo .presentation_card_container .box:hover .content div h2 {
  transform: translateY(0);
  transition-delay: 0.5s;
}
.tarjetas_equipo .presentation_card_container .box:hover .content div p {
  transform: translateY(0);
  transition-delay: 0.6s;
}
.tarjetas_equipo .presentation_card_container .box .img_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.tarjetas_equipo .presentation_card_container .box .img_box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tarjetas_equipo .presentation_card_container .box .img_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(to top right, rgb(255, 0, 0), rgb(0, 0, 255));
  mix-blend-mode: lighten;
  opacity: 0;
  transition: 0.5s;
}
.tarjetas_equipo .presentation_card_container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-end;
  background-color: transparent;
}
.tarjetas_equipo .presentation_card_container .box .content div {
  background-color: transparent;
}
.tarjetas_equipo .presentation_card_container .box .content div h2 {
  color: white;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 30px;
  transform: translateY(210px);
}
.tarjetas_equipo .presentation_card_container .box .content div p {
  background-color: transparent;
  color: white;
  transform: translateY(210px);
  transition: 0.5s;
  font-size: 20px;
}

.carrito_de_compras {
  width: 100%;
  min-height: 100vh;
  padding: 5% 10%;
  background-color: rgba(128, 128, 128, 0.25);
  display: grid;
  grid-template-columns: 70% 30%;
  font-family: "Montserrat", sans-serif;
}
.carrito_de_compras .resumen_de_productos {
  content: "";
  width: 100%;
  min-height: 100vh;
  padding: 3rem 1.5rem;
  background-color: white;
  text-align: center;
}
.carrito_de_compras .resumen_de_productos h1 {
  margin-bottom: 3rem;
}
.carrito_de_compras .resumen_de_productos .carro_vacio {
  display: flex;
  width: 100%;
  height: 6rem;
  justify-content: center;
  align-items: center;
  border-top: 1px solid grey;
  text-align: center;
  color: rgb(118, 118, 118);
}
.carrito_de_compras .resumen_de_productos .tarjeta_lista_producto {
  height: 7rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  margin: 1rem 0;
  padding: 0.5rem;
  width: auto;
  box-shadow: 3px 5px 10px 0px rgba(33, 35, 49, 0.2);
}
.carrito_de_compras .resumen_de_productos .tarjeta_lista_producto .contenedor_imagen_lista {
  position: relative;
  overflow: hidden;
  width: auto;
  height: 100%;
  background: red;
}
.carrito_de_compras .resumen_de_productos .tarjeta_lista_producto .contenedor_imagen_lista img {
  height: 100%;
  width: auto;
}
.carrito_de_compras .resumen_de_productos .tarjeta_lista_producto .datos_lista_producto {
  margin-left: 1rem;
}
.carrito_de_compras .resumen_de_productos .tarjeta_lista_producto .retirar_de_lista {
  width: auto;
  color: rgb(152, 152, 152);
  font-weight: 700;
  margin-left: auto;
  border: none;
  padding: 2rem;
  cursor: pointer;
}
.carrito_de_compras .place_order {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 7%;
}
.carrito_de_compras .place_order .resumen_producto {
  text-align: center;
  width: 100%;
}
.carrito_de_compras .place_order .resumen_producto .titulo_orden {
  text-align: center;
  margin: 10px;
  font-weight: 600;
}
.carrito_de_compras .place_order .resumen_producto .datos_producto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  border-bottom: 1px solid black;
  padding: 5%;
}
.carrito_de_compras .place_order .costo_total_producto {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}
.carrito_de_compras .place_order .costo_total_producto .columna_nombres, .carrito_de_compras .place_order .costo_total_producto .columna_valores {
  display: flex;
  flex-direction: column;
}
.carrito_de_compras .place_order .costo_total_producto .columna_nombres p, .carrito_de_compras .place_order .costo_total_producto .columna_valores p {
  padding: 5% 7%;
}
.carrito_de_compras .place_order .costo_total_producto .columna_nombres {
  text-align: start;
}
.carrito_de_compras .place_order .costo_total_producto .columna_valores {
  text-align: end;
}
.carrito_de_compras .place_order .costo_total_producto .costos {
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  padding: 5%;
}
.carrito_de_compras .place_order .costo_total_producto .total {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  padding: 5%;
}
.carrito_de_compras .place_order .boton_de_compras {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  background: blueviolet;
  padding: 6%;
  font-weight: 600;
}
.carrito_de_compras .place_order .boton_de_compras a {
  color: white;
}

/* -------------------------------------------------------------------------- */
/*                                   footer                                   */
/* -------------------------------------------------------------------------- */
.control_del_footer {
  height: 400px;
}

footer {
  background-color: black;
  position: relative;
  width: 100%;
  height: 400px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 60px 20%;
  font-family: "Roboto", sans-serif;
}
footer .zona_footer {
  background-color: transparent;
  width: 300px;
  height: 100%;
}
footer .zona_footer h2, footer .zona_footer ul, footer .zona_footer li, footer .zona_footer a, footer .zona_footer p, footer .zona_footer nav {
  background: transparent;
  color: white;
}
footer .zona_footer h2 {
  margin-bottom: 30px;
  font-weight: 800;
}
footer .zona_footer .navBar_footer {
  color: white;
}
footer .zona_footer .navBar_footer .nav_links_footer {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
}
footer .zona_footer .contenedor_redes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background: transparent;
}
footer .zona_footer .contenedor_redes .redsocial_fb {
  background: url(../img/imagenes_redes/Facebook-logo-blue-circle-large-transparent-png.png);
}
footer .zona_footer .contenedor_redes .redsocial_ig {
  background: url(../img/imagenes_redes/logo_instagram.png.pagespeed.ce.tyGRvcTOKP.png);
}
footer .zona_footer .contenedor_redes .redsocial_x {
  background: url(../img/imagenes_redes/Twitter_new_X_logo.png);
}
footer .zona_footer .contenedor_redes .redsocial_yt {
  background: url(../img/imagenes_redes/Youtube_logo.png);
}
footer .zona_footer .contenedor_redes .redsocial_tiktok {
  background: url(../img/imagenes_redes/tiktok-icon-free-png.webp);
}
footer .zona_footer .contenedor_redes .redsocial_fb, footer .zona_footer .contenedor_redes .redsocial_ig, footer .zona_footer .contenedor_redes .redsocial_x, footer .zona_footer .contenedor_redes .redsocial_yt, footer .zona_footer .contenedor_redes .redsocial_tiktok {
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px;
}

/*# sourceMappingURL=style.css.map */
